#output {
  display: none;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  font-family: "Lucida Console";
  font-size: 60px;
}

h3 {
  font-size: 20px;
}

body {
  padding: 30px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

html {
  height: 100%;
}